{% extends "_wizard-form.html" %}
{% set title = 'Sign up for alerts' %}
{% set buttonText = 'Confirm' %}
{% set paths = { back: '/start' } %}
{% set action = '/notification/confirmation' %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  {{ govukInput({
    label: {
      text: 'Email address',
      classes: "govuk-label--m"
    },
    hint: {
      html: '<p>We’ll email you when registration reopens.</p>'
    }
  } | decorateFormAttributes(['notification', 'email']) ) }}
{% endblock %}
