{{ govukSummaryList({
  rows: [
  {
    key: {
      text: "Course"
    },
    value: {
      text: data.register.course
    },
    actions: {
      items: [
        {
          href: "/register/choose-npq",
          text: "Change",
          visuallyHiddenText: " course"
        }
      ]
    }
  },
  {
    key: {
      text: "Lead provider"
    },
    value: {
      text: data['accounts']['asoprovider']
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Change",
          visuallyHiddenText: "lead provider"
        }
      ]
    }
  },
    {
      key: {
        text: "Where do you work?"
      },
      value: {
        text: data.register['country']
      },
      actions: {
        items: [
          {
            href: "/accounts-signed-in/where-do-you-work",
            text: "Change",
            visuallyHiddenText: "where you work"
          }
        ]
      }
    },
    {
      key: {
        text: "Do you work in a school,college or academy trust?"
      },
      value: {
        text: data['register']['work-in-school']
      },
      actions: {
        items: [
          {
            href: "/accounts-signed-in/work-in-school",
            text: "Change",
            visuallyHiddenText: "whether you work in a school"
          }
        ]
      }
    },
    {
      key: {
        text: "School, college or trust"
      },
      value: {
        text: data['register']['school']
      },
      actions: {
        items: [
          {
            href: "/accounts-signed-in/which-school",
            text: "Change",
            visuallyHiddenText: "school, college or trust"
          }
        ]
      }
    }
  ]
}) }}
