{% set trn %}
  <span class="app-!-font-family-tabular">
    {{ data.register.trn }}
  </span>
{% endset %}



{{ govukSummaryList({
  rows: [

  {
    key: {
      text: "Where do you work?"
    },
    value: {
      text: (data.register['country'] | countryNameFromCode) if data.register['country'] else (data.register['where-do-you-work'] | capitaliseFirstLetter)
    },
    actions: {
      items: [
        {
          href: "/register/where-do-you-work",
          text: "Change",
          visuallyHiddenText: "where you work"
        }
      ]
    }
  },
  {
    key: {
      text: "Work setting"
    },
    value: {
      text: data.register['work-in-school-two']
    },
    actions: {
      items: [
        {
          href: "/register/work-in-school",
          text: "Change",
          visuallyHiddenText: "whether you work in a school"
        }
      ]
    }
  },

  {
    key: {
      text: "Full name"
    },
    value: {
      text: data.register.name
    },
    actions: {
      items: [
        {
          href: "/eyll/personal-details",
          text: "Change",
          visuallyHiddenText: "name"
        }
      ]
    }
  },
  {
    key: {
      text: "TRN"
    },
    value: {
      html: trn
    },
    actions: {
      items: [
        {
          href: "/eyll/personal-details",
          text: "Change",
          visuallyHiddenText: "TRN"
        }
      ]
    }
  },
  {
    key: {
      text: "Date of birth"
    },
    value: {
      text: isoDateFromDateInputs(data.register['dob-year'], data.register['dob-month'], data.register['dob-day']) | dateWithYear
    },
    actions: {
      items: [
        {
          href: "/eyll/personal-details",
          text: "Change",
          visuallyHiddenText: "date of birth"
        }
      ]
    }
  },
  {
    key: {
      text: "National Insurance number"
    },
    value: {
      text: data.register.nino
    },
    actions: {
      items: [
        {
          href: "/eyll/personal-details",
          text: "Change",
          visuallyHiddenText: "national insurance number"
        }
      ]
    }
  },
  {
    key: {
      text: "Email address"
    },
    value: {
      text: data.register.email
    },
    actions: {
      items: [
        {
          href: "/register/email",
          text: "Change",
          visuallyHiddenText: "email address"
        }
      ]
    }
  },
  
    {
      key: {
        text: "Do you work in a nursery?"
      },
      value: {
        text: data.register['nursery']
      },
      actions: {
        items: [
          {
            href: "/eyll/nursery",
            text: "Change",
            visuallyHiddenText: "whether you work in a nursery"
          }
        ]
      }
    },
    {
      key: {
        text: "Type of nursery"
      },
      value: {
        text: data.register['nursery-type']
      },
      actions: {
        items: [
          {
            href: "/eyll/nursery-type",
            text: "Change",
            visuallyHiddenText: "what kind of nursery you work in"
          }
        ]
      }
    },
    
    {
      key: {
        text: "Ofsted registration details"
      },
      value: {
        text: data.register.urn
      },
      actions: {
        items: [
          {
            href: "/eyll/do-you-have-urn",
            text: "Change",
            visuallyHiddenText: "ofsted regsitration details"
          }
        ]
      }
    },
    
    {
      key: {
        text: "Course"
      },
      value: {
        text: data.register.course
      },
      actions: {
        items: [
          {
            href: "/eyll/choose-npq",
            text: "Change",
            visuallyHiddenText: " course"
          }
        ]
      }
    },
    {
      key: {
        text: "Lead provider"
      },
      value: {
        text: data.register.provider
      },
      actions: {
        items: [
          {
            href: "/eyll/choose-provider-ey-ll",
            text: "Change",
            visuallyHiddenText: " lead provider"
          }
        ]
      }
    }

  ]
}) }}
