{% set trn %}
  <span class="app-!-font-family-tabular">
    {{ data.register.trn }}
  </span>
{% endset %}

{{ govukSummaryList({
  rows: [

  {
    key: {
      text: "Where do you work?"
    },
    value: {
      text: (data.register['country'] | countryNameFromCode) if data.register['country'] else (data.register['where-do-you-work'] | capitaliseFirstLetter)
    },
    actions: {
      items: [
        {
          href: "/register/where-do-you-work",
          text: "Change",
          visuallyHiddenText: "where you work"
        }
      ]
    }
  },
  {
    key: {
      text: "Do you work in a school, academy trust or 16 to 19 organisation?"
    },
    value: {
      text: data.register['work-in-school']
    },
    actions: {
      items: [
        {
          href: "/register/work-in-school",
          text: "Change",
          visuallyHiddenText: "whether you work in a school"
        }
      ]
    }
  },
  {
    key: {
      text: "Do you work in early years or childcare?"
    },
    value: {
      text: data.register['ey']
    },
    actions: {
      items: [
        {
          href: "/eyll/work-in-ey",
          text: "Change",
          visuallyHiddenText: "whether you work in early years or childcare"
        }
      ]
    }
  },
  {
    key: {
      text: "Do you work in a local authority-maintained nursery?"
    },
    value: {
      text: data.register['la-nursery']
    },
    actions: {
      items: [
        {
          href: "/eyll/work-in-ey",
          text: "Change",
          visuallyHiddenText: "whether you work in early years or childcare"
        }
      ]
    }
  },

    {
      key: {
        text: "Full name"
      },
      value: {
        text: data.register.name
      },
      actions: {
        items: [
          {
            href: "/eyll/personal-details",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Teacher reference number (TRN)"
      },
      value: {
        html: trn
      },
      actions: {
        items: [
          {
            href: "/eyll/personal-details",
            text: "Change",
            visuallyHiddenText: "TRN"
          }
        ]
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        text: isoDateFromDateInputs(data.register['dob-year'], data.register['dob-month'], data.register['dob-day']) | dateWithYear
      },
      actions: {
        items: [
          {
            href: "/eyll/personal-details",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "National Insurance number"
      },
      value: {
        text: data.register.nino
      },
      actions: {
        items: [
          {
            href: "/eyll/personal-details",
            text: "Change",
            visuallyHiddenText: "national insurance number"
          }
        ]
      }
    },
    {
      key: {
        text: "Email address"
      },
      value: {
        text: data.register.email
      },
      actions: {
        items: [
          {
            href: "/register/email",
            text: "Change",
            visuallyHiddenText: "email address"
          }
        ]
      }
    },
    
    {
      key: {
        text: "Ofsted registration details"
      },
      value: {
        text: data.register.urn
      },
      actions: {
        items: [
          {
            href: "/eyll/find-early-years",
            text: "Change",
            visuallyHiddenText: "whether what educational setting you work in"
          }
        ]
      }
    },
    
    {
      key: {
        text: "Course"
      },
      value: {
        text: data.register.course
      },
      actions: {
        items: [
          {
            href: "/eyll/choose-npq",
            text: "Change",
            visuallyHiddenText: " course"
          }
        ]
      }
    },
    {
      key: {
        text: "Lead provider"
      },
      value: {
        text: data.register.provider
      },
      actions: {
        items: [
          {
            href: "/eyll/choose-provider-ey-ll",
            text: "Change",
            visuallyHiddenText: " lead provider"
          }
        ]
      }
    }

  ]
}) }}
