<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Course
    </dt>
    <dd class="govuk-summary-list__value">
      Additional support offer for headteachers
    </dd>
    <dd class="govuk-summary-list__actions">

  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Provider
    </dt>
    <dd class="govuk-summary-list__value">
      {{data.accounts.asoprovider}}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="/accounts-signed-in/choose-provider">
        Change<span class="govuk-visually-hidden">provider</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Registration status
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">Awaiting acceptance</strong></p>
      <p>{{data.accounts.asoprovider}} will review your application, contact them for more information. </p>
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Funding eligibility
    </dt>
    <dd class="govuk-summary-list__value">
      <p>To be confirmed</p>
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>
</dl>
<hr class="govuk-section-break govuk-section-break--visible">
<ul class="govuk-list govuk-!-padding-top-4">
  <li><a href="#">Remove registration</a></li>
    </ul>
