<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Course
    </dt>
    <dd class="govuk-summary-list__value">
      NPQ Senior Leadership (NPQSL)
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Provider
    </dt>
    <dd class="govuk-summary-list__value">
      Ambition
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Status
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body"><strong class="govuk-tag">NPQ completed</strong></p>
      <p>You have finished you NPQ with Ambtion, please contact them for your certificate</p>
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>
</dl>
