<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Course
    </dt>
    <dd class="govuk-summary-list__value">
      {{data.register.course}}
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Provider
    </dt>
    <dd class="govuk-summary-list__value">
      {{data.register.provider}}
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Registration status
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body"><strong class="govuk-tag">Registration accepted</strong></p>
      <p>{{data.register.provider}} have accepted your registration. If you need to change any details or withdraw your application please contact them.</p>
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Funding eligibility
    </dt>
    <dd class="govuk-summary-list__value">
      <p>DfE funded</p>
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>
</dl>
