<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Course
    </dt>
    <dd class="govuk-summary-list__value">
      Additional support offer
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden">course</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Provider
    </dt>
    <dd class="govuk-summary-list__value">
      Best Practice Network
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden">provider</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Status
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body"><strong class="govuk-tag govuk-tag--grey">Awaiting acceptance</strong></p>
      <p>Best Practice Network will review your application. You can change the course and provider or withdrawl up until then</p>
    </dd>
    <dd class="govuk-summary-list__actions">
    </dd>
  </div>
  <p class="govuk-!-padding-top-2"><a href="#">Withdraw application</a></p>
</dl>
