{% extends "_wizard-form.html" %}
{% set title = 'DfE scholarship funding is not available' %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <p>To be eligible for scholarship funding for the <strong>{{ data.register.course }}</strong> you must work in one of these settings in England:
  </p>

  <ul class="govuk-list govuk-list--bullet">
    <li>state-funded schools</li>
    <li>state-funded 16 to 19 organisations</li>
    <li>independent special schools</li>
    <li>virtual schools</li>
    <li>hospital schools</li>
    <li>young offender institutions</li>

  </ul>

  <div class="govuk-inset-text">
    As a lead mentor for an accredited initial teacher training provider, you should be eligible for scholarship funding for the NPQ for Leading Teacher Development. You can <a href="/itt-mentor/choose-npq.html">go back and change your NPQ</a> if you like.
  </div>

{% endblock %}
