// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren’t in Frontend
@import "components/summary-card";

// govuk-prototype-kit-plus additional helper methods
.app-\!-inherit-colour {
  color: inherit !important;
}

.app-\!-font-family-tabular {
  @include govuk-font($size: false, $tabular: true);
}

.app-\!-font-family-tabular-bold {
  @include govuk-font($size: false, $tabular: true, $weight: bold);
}

.app-\!-no-wrap {
  white-space: nowrap !important;
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.autocomplete__menu {
  @include govuk-font($size: 19);
}

.app-bordered {
  border: 1px solid $govuk-border-colour;
  padding: govuk-spacing(3);

  .govuk-table,
  .govuk-summary-list,
  .govuk-table {
    margin-bottom: 0;
  }

  .govuk-summary-list__row:last-child,
  .govuk-summary-list__row:last-child > *,
  .govuk-table__row:last-child .govuk-table__cell {
    border-bottom: 0;
  }
}
