{% set trn %}
  <span class="app-!-font-family-tabular">
    {{ data.register.trn }}
  </span>
{% endset %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Email address"
      },
      value: {
        text: data.register.email
      },
      actions: {
        items: [
          {
            href: "/register/email",
            text: "Change",
            visuallyHiddenText: "email address"
          }
        ]
      }
    },
    
    {
      key: {
        text: "Name"
      },
      value: {
        text: data.register.firstname + " " + data.register.lastname  
      },
      actions: {
        items: [
          {
            href: "/register/gai-name",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    }, 
    {
      key: {
        text: "Date of birth"
      },
      value: {
        text: data.register['dob-day'] + " " + data.register['dob-month'] + " " + data.register['dob-year']
      },
      actions: {
        items: [
          {
            href: "/register/gai-dob",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
        {
      key: {
        text: "National Insurance number"
      },
      value: {
        text: data.register.nino
      },
      actions: {
        items: [
          {
            href: "/register/gai-nino",
            text: "Change",
            visuallyHiddenText: "national insurance number"
          }
        ]
      }
    },
  
    {
      key: {
        text: "Teacher reference number (TRN)"
      },
      value: {
        html: trn
      },
      actions: {
        items: [
          {
            href: "/register/gai-trn",
            text: "Change",
            visuallyHiddenText: "TRN"
          }
        ]
      }
    },
    
   

    {
      key: {
        text: "Have you been awarded QTS?"
      },
      value: {
        text: data.register.haveqts
      },
      actions: {
        items: [
          {
            href: "/register/gai-have-qts",
            text: "Change",
            visuallyHiddenText: "if you have qualified teaching status"
          }
        ]
      }
    },
    {
      key: {
        text: "Where did you get your QTS?"
      },
      value: {
        text: data.register.whereqts
      },
      actions: {
        items: [
          {
            href: "/register/gai-how-qts",
            text: "Change",
            visuallyHiddenText: "how you got qualified teaching status"
          }
        ]
      }
    }
    
    
    
    
  ]
}) }}
