{% set trn %}
  <span class="app-!-font-family-tabular">
    {{ data.register.trn }}
  </span>
{% endset %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Where do you work?"
      },
      value: {
        text: (data.register['country'] | countryNameFromCode) if data.register['country'] else (data.register['where-do-you-work'] | capitaliseFirstLetter)
      },
      actions: {
        items: [
          {
            href: "/register/where-do-you-work",
            text: "Change",
            visuallyHiddenText: "where you work"
          }
        ]
      }
    },
    {
    key: {
      text: "Work setting"
    },
    value: {
      text: data.register['work-in-school-two']
    },
    actions: {
      items: [
        {
          href: "/register/work-in-school-two",
          text: "Change",
          visuallyHiddenText: "what setting you work in"
        }
      ]
    }
  },
    {
      key: {
        text: "Full name"
      },
      value: {
        text: data.register.name
      },
      actions: {
        items: [
          {
            href: "/register/personal-details",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    }, 
    {
      key: {
        text: "TRN"
      },
      value: {
        html: trn
      },
      actions: {
        items: [
          {
            href: "/register/personal-details",
            text: "Change",
            visuallyHiddenText: "TRN"
          }
        ]
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        text: isoDateFromDateInputs(data.register['dob-year'], data.register['dob-month'], data.register['dob-day']) | dateWithYear
      },
      actions: {
        items: [
          {
            href: "/register/personal-details",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "National Insurance number"
      },
      value: {
        text: data.register.nino
      },
      actions: {
        items: [
          {
            href: "/register/personal-details",
            text: "Change",
            visuallyHiddenText: "national insurance number"
          }
        ]
      }
    },
    {
      key: {
        text: "Email address"
      },
      value: {
        text: data.register.email
      },
      actions: {
        items: [
          {
            href: "/register/email",
            text: "Change",
            visuallyHiddenText: "email address"
          }
        ]
      }
    },
    {
      key: {
        text: "Workplace"
      },
      value: {
        text: data.register.school
      },
      actions: {
        items: [
          {
            href: "/register/where-school",
            text: "Change",
            visuallyHiddenText: "workplace"
          }
        ]
      }
    },
    {
      key: {
        text: "Course"
      },
      value: {
        text: data.register.course
      },
      actions: {
        items: [
          {
            href: "/register/choose-npq",
            text: "Change",
            visuallyHiddenText: " course"
          }
          
        ]
      }
    },

    {
      key: {
        text: "How is your NPQ being paid for?"
      },
      value: {
        text: data.register['aso-how-pay'] | capitaliseFirstLetter
      },
      actions: {
        items: [
          {
            href: "/school-nonfund/how-pay",
            text: "Change",
            visuallyHiddenText: "how your NPQ is being paid for"
          }
        ]
      }
    },
    

    {
      key: {
        text: "Lead provider"
      },
      value: {
        text: data.register.provider
      },
      actions: {
        items: [
          {
            href: "/register/choose-provider",
            text: "Change",
            visuallyHiddenText: " lead provider"
          }
        ]
      }
    }
    
    
    
    
  ]
}) }}
