{% extends "_wizard-form.html" %}
{% set title = 'DfE scholarship funding is not available' %}

{% block navigation %}
<a href="#" class="govuk-back-link">Back</a>
{% endblock %}

{% block form %}


  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <p>To be eligible for scholarship funding for the {{ data.register.course }} you must work:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>In England, Jersey, Guernsey or the Isle of Man</li>
    <li>In a state-funded school, trust or 16 to 19 educational setting</li>
  </ul>


  <p>You can still register for {{ data.register.course }}, but you need to pay for it another way. To find out more about your funding options please contact your course provider. </p>


{% endblock %}
