{% extends "_wizard-form.html" %}

{% block form %}
  <h1 class="govuk-heading-xl">Do you  have an Ofsted unique reference number (URN)?</h1>



 


  {{ govukRadios({
  
    items: [
      {
        text: "Yes, I have a URN",
        value: "yes",
        hint: {
          text: "If your employer is registered with Ofsted or you are registered with a childminder agency (CMA), you can use their URN."
        }
      },
      {
        text: "I don't know or I need help finding a URN",
        value: "help"
      },
      {
        text: "No, I do not have a URN",
        value: "no"
       
      }
     
    ]
  } | decorateFormAttributes(['register', 'ofsted']) ) }}
{% endblock %}
