{% extends "_wizard-form.html" %}
{% set paths = { back: '/start' } %}

{% block form %}
  <h1 class="govuk-heading-xl">Are you or your workplace on the Ofsted register?</h1>

  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        I need help with this
      </span>
    </summary>
    <div class="govuk-details__text">
      You can <a href="https://reports.ofsted.gov.uk/childcare" rel="noreferrer noopener" target="_blank" >search the public Ofsted register (opens in a new tab)</a> to find a URN.
    </div>
    <div class="govuk-details__text">
      If your employer is registered with Ofsted or you're registered with a childminder agency (CMA), you can use their URN.
    </div>
    <div class="govuk-details__text">
      If you are a nanny or a childminder you may not be listed on the public Ofsted register. You will need to check your email or registration certificate to find your URN.
    </div>
    <div class="govuk-details__text">
      If you or your employer have not registered with Ofsted then you will not have a URN.
    </div>

  </details>





 


  {{ govukRadios({
  
    items: [
      {
        text: "Yes"

      },
      {
        text: "No"
      }
     
    ]
  } | decorateFormAttributes(['register', 'ofsted']) ) }}
{% endblock %}