{% extends "_wizard-page.html" %}
{% block pageNavigation %}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br>

      <h3 class="govuk-heading-m">Your confirmation code</h3>

    <p>Department for Education Teacher CPD</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<p>Your confirmation code is:</p>

<p><strong>123456</strong></p>

<p>
This email address has been used to register for the national professional qualification (NPQ) service.
</p>

<p>You will need to finish the registration to access your NPQ course.</p>

<p>If you did not register for this service, please ignore this email.</p>


<p><strong>Teacher Continuing Professional Development</strong><br>
Department for Education</p>


    </div>
  </div>

{% endblock %}

