{% extends "_wizard-form.html" %}
{% set title = 'Which early years setting do you work in?' %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  {{ govukRadios({
    items: [
      {
        text: "Local authority run nursery",
        value: "nursery"
      },
      {
        text: "Childcare on domestic premises",
        value: "domestic"
      },
      {
        text: "Childcare on non-domestic premises",
        value: "non"
      },
      {
        text: "Childminder",
        value: "childminder"
      },
      {
        text: "Home childcarer (e.g. a nanny or au pair)",
        value: "nanny"
      }
    ]
  } | decorateFormAttributes(['register', 'ey']) ) }}

  {{ govukDetails({
  summaryText: "Help with definitions",
  text: "Content to be written."
}) }}
{% endblock %}
