{% extends "_wizard-form.html" %}
{% set title = 'You need a teacher reference number to register for an NPQ'%}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>


<p>You’ll need a teacher reference number (TRN) to register for an NPQ, even if you are not a teacher. We use your TRN to check you’re eligible to study for an NPQ.</p>
      
<p>You may already have a TRN if you’ve previously registered for an NPQ. </p>


<br>

    {{ govukRadios({
      fieldset: {
        legend: {
          text: 'Do you know your teacher reference number (TRN)?',
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          text: "Yes",
          value: "yes"
        },
        {
          text: "I need a reminder",
          value: "dont-know"
        },
        {
          text: "I do not have a TRN",
          value: "no-trn"
        }
      ]
    } | decorateFormAttributes(['register', 'know-trn']) ) }}

{% endblock %}
