{% extends "_wizard-form.html" %}
{% set title = 'Which educational setting do you work in?' %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  {{ govukRadios({
    items: [
    {
      text: "16 to 19 organisation"
    },
    {
      text: "Academy trust"
    },
    {
      text: "Early years or childcare setting"
    },

      {
        text: "LA maintained nursery"
      },
      {
        text: "School"
      },

      {
        text: "Other / I do not work in an educational setting",
        value: "other"
      }
    ]
  } | decorateFormAttributes(['register', 'setting']) ) }}
{% endblock %}
