{% extends "_wizard-form.html" %}
{% set title = 'Choose your ASO provider' %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <p>These are the training providers who provide the Additional support offer. Providers may have different entry requirements.</p>

  {% if isInSchoolAndIsInEngland %}
    <p>Check with the person responsible for professional development at your school or college.</p>
  {% endif %}

  {{ govukRadios({
    items: [
      {
        text: "Ambition Institute"
      },
      {
        text: "Best Practice Network (home of Outstanding Leaders Partnership)"
      },
      {
        text: "Church of England"
      },
      {
        text: "Education Development Trust"
      },
      {
        text: "School-Led Network"
      },
      {
        text: "Leadership Learning South East (LLSE)"
      },
      {
        text: "Teacher Development Trust"
      },
      {
        text: "Teach First"
      },
      {
        text: "UCL Institute of Education"
      }
    ]
  } | decorateFormAttributes(['accounts', 'asoprovider']) ) }}
{% endblock %}
