{% extends "layout_nobanner.html" %}
{% extends "_wizard-form.html" %}
{% set title = 'Sharing your NPQ information' %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <p>All the information you enter for your NPQ application will be shared with your training provider – this lets your provider register the details to start your course.</p>

  <p>If you do not share this, you cannot progress with your NPQ.</p>

  {{ govukCheckboxes({
    items: [
      {
        text: "Yes, I agree my information can be shared",
        value: "yes"
      }
    ]
  } | decorateFormAttributes(['register', 'agree-to-share']) ) }}
{% endblock %}
