{% extends "layout_signedin.html" %}
{% set title = 'You have changed your NPQ course' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block pageNavigation %}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  {% set html %}
    <div class="govuk-!-font-size-19">
      You’re now registered for an <strong>{{ data.register.course }}</strong> with <strong>{{ data.register.provider }}</strong>
    </div>
  {% endset %}

  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleHtml: title | noOrphans | safe,
      html: html,
      classes: 'govuk-!-margin-bottom-6'
    }) }}

<h3 class="govuk-heading-m">
  What happens next
</h3>

<p>{{ data.register.provider }} will contact you to complete your registration.</p>
    <p>They will provide details of timings, costs and deadlines.</p>

<br>
      <p><a href="/accounts-signed-in/home">Go back to your NPQ registration details.</a></p>

    </div>
  </div>

{% endblock %}
