{% extends "_wizard-form.html" %}
{% set paths = { back: '/accounts-signed-in/where-do-you-work' } %}
{% set title = 'You are only funded for one NPQ per year' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{ title }}</h1>

      <p>Some content about policy</p>

      <p>If you currently have an accepted place on an NPQ you will still receive funding for that course.</p>
      <form action="/accounts-signed-in/home" method="post" novalidate>

        {{ govukCheckboxes({
          items: [
            {
              text: "I understand that I will no longer receive funding",
              value: "yes"
            }
          ]
        }  ) }}


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
