{% extends "layout.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        You've already applied for an NPQ this year
      </h1>

      <p>You can still register for an NPQ, however you will only be funded for one.</p>

      <p>If you are wanting to hedge your bets with multiple providers...</p>

      <p>If you are looking to take an additional NPQ, you will  need to organise youtr own funding or wait until registration opens for next academic year </p>

      <p>You can also change the course or remove an NPQ on the dashboard </p>

      <form action="/register/chosen" method="post" novalidate>

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
