{% extends "_wizard-form.html" %}
{% set title = 'Why are you adding a new NPQ?' %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  {{ govukRadios({
    items: [
      {
        text: "I want to register for an NPQ next year",
        value: "next year"
      },
      {
        text: "I only want to do one NPQ this year, but want to apply for multiple courses.",
        value: "hedge"
      },
      {
        text: "I want to do more than one NPQ this year",
        value: "this year"
      }
    ]
  } | decorateFormAttributes(['accounts', 'add']) ) }}
{% endblock %}
