{% extends "_wizard-form.html" %}
{% set title = "Are you sure you want to remove your NPQ?" %}
{% set paths = { back: '/accounts-signed-in/home' } %}
{% set buttonText = 'Confirm' %}


{% block form %}
  {{ govukRadios({
    fieldset: {
      legend: {
        text: title,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    hint: {
    text: "You can change both the course and provider for your exisitng registration."
  },
    items: [
      {
        text: "Yes"
      },
      {
        text: "No"
      }
    ]
  } | decorateFormAttributes(['accounts', 'applied']) ) }}
{% endblock %}
