{% extends "_wizard-form.html" %}
{% set title = 'Choose your provider' %}
{% set action = '/eyll-nursery/choose-provider' %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <p>These are the training providers who provide <strong>{{ data.register.course }}.</strong> Providers may have different entry requirements.</p>

  {% if isInSchoolAndIsInEngland %}
    <p>Check with the person responsible for professional development at your school or college.</p>
  {% endif %}

  {{ govukRadios({
    items: [
    {
      text: "Ambition Institute"
    },
    {
      text: "Best Practice Network (home of Outstanding Leaders Partnership)"
    },
    {
      text: "Church of England"
    },
    {
      text: "Education Development Trust"
    },
   {
      text: "Leadership Learning South East (LLSE)"
    },
    {
      text: "School-Led Network"
    },
    {
      text: "Teacher Development Trust"
    },
    {
      text: "Teach First"
    },
    {
      text: "UCL Institute of Education"
    }

  ]
  } | decorateFormAttributes(['register', 'provider']) ) }}
{% endblock %}