{% extends "_wizard-form.html" %}
{% set title = 'Select your provider' %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <p>These are the training providers who provide {{ data.register.course }}. Providers may have different entry requirements.</p>


  {{ govukRadios({
    items: [
      {
        text: "Ambition Institute"
      },
      {
        text: "Education Development Trust"
      },
      {
        text: "Institute of Teaching"
      },
      {
        text: "School-Led Network"
      },
      {
        text: "Teacher Development Trust"
      },
      {
        text: "Teach First"
      },
      {
        text: "UCL Institute of Education"
      }
    ]
  } | decorateFormAttributes(['register', 'provider']) ) }}
{% endblock %}
