{% extends "_wizard-form.html" %}
{% extends "layout.html" %}
{% set title = 'NPQ FAQs: Early years and childcare' %}
{% set paths = { back: '/start' } %}
{% block pageTitle %}{{ title }}{% endblock %}


{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" >{{ title }}</h1>

      <p>Contents</p>
      
<ul class="govuk-list">
  <li><a href="#what-i-need">What do I need to register for the NPQ for Early Years Leadership?</a></li>
  <li><a href="#need-trn">Do I need a Teacher Reference Number even though I’m not a teacher?</a></li>
  <li><a href="#get-trn">How do I get a TRN?</a></li>
  <li><a href="#choose-provider">How do I choose a provider?</a></li>
  <li><a href="#paid-for">How is my NPQ paid for?</a></li>
  <li><a href="#ofsted-urn">Where do I find my Ofsted URN?</a></li>
  <li><a href="#qualification">What is a full and relevant qualification?</a></li>
  <li><a href="#how-register">How do I register for an NPQ?</a></li> 
  <li><a href="#support">I need more support</a></li> 
</ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m" id="what-i-need">What do I need to register for the NPQ for Early Years Leadership?</h2>

    <p>Before you register, you’ll need to make sure you have done the following:</p>

    <ol class="govuk-list govuk-list--number">
      <li>Got a Teacher Reference Number (TRN)</li>
      <li>Chosen a training provider</li>
      <li>Know how your NPQ is being paid for</li>
    </ol>

<p>You’ll need to know your Ofsted unique reference number (URN) if you or your employer are registered on the Ofsted Early Years Register, or you are registered through a Childminder Agency.</p>
    
<h2 class="govuk-heading-m" id="need-trn">Do I need a Teacher Reference Number even though I’m not a teacher?</h2>

<p>Yes. Everyone who registers for an NPQ will need a TRN, even if you’re working in early years, further education or qualified as a teacher outside England. 
</p>

<h2 class="govuk-heading-m" id="get-trn">How do I get a TRN?</h2>

<p>You need to apply to the Teaching Regulation Agency</p>

<p>Email <a href="qts.enquiries@education.gov.uk">qts.enquiries@education.gov.uk</a> with (all of the following):</p>
 
<ul class="govuk-list govuk-list--bullet">
  <li>your full legal name</li>
  <li>your date of birth</li>
  <li>a scanned copy or photo of one proof of ID - this can be your passport, driving licence (full or provisional), certificate of residence or birth certificate</li>
  <li>“Request for a TRN” in the subject line of the email</li>
</ul>

<p>They aim to respond to your email within 5 working days.</p>

<h2 class="govuk-heading-m" id="choose-provider">How do I choose a provider?</h2>

<p>The NPQ for Early Years Leadership is offered by the following lead training providers: </p>
<ul class="govuk-list govuk-list--spaced govuk-list--bullet">
  <li><a href="../ambition">Ambition Institute</a></li>
    <li><a href="https://www.outstandingleaders.org/npq">Best Practice Network (home of Outstanding Leaders Partnership)</a><br>Provides all courses. Partners with Teach First as their lead provider to deliver the NPQEYL.</li>
  <li><a href="https://www.cefel.org.uk/npq/">Church of England</a><br> Partners with Teacher Development Trust as their lead provider to deliver the NPQEYL.</li>
  <li><a href="https://www.educationdevelopmenttrust.com/npqs">Education Development Trust</a></li>
  <li><a href="http://www.llse.org.uk/">LLSE</a><br>Provides all courses. Partners with Education Development Trust as their lead provider to deliver the NPQEYL.</li>
  <li><a href="https://www.school-led.org.uk/">School-Led Network </a></li>
  <li><a href="https://tdtrust.org/npqs/">Teacher Development Trust</a></li>
  <li><a href="http://www.teachfirst.org.uk/npqs">Teach First</a></li>
  <li><a href="https://www.ucl.ac.uk/ioe/departments-and-centres/centres/ucl-centre-educational-leadership/national-professional-qualification-programmes">UCL Institute of Education</a></li>
</ul>

<p>You should look at their websites to see if they offer courses in your area and how they deliver training. Contact them if you have any questions. </p>


<h2 class="govuk-heading-m" id="paid-for">How is my NPQ paid for?</h2>

<p>There are a number of ways to pay for an NPQ: </p>

<ul class="govuk-list govuk-list--bullet">
  <li>You can <a href="https://www.gov.uk/government/publications/national-professional-qualifications-npqs-reforms/national-professional-qualifications-npqs-reforms#funding">read the guidance to see if you are eligible for DfE scholarship funding for the NPQ for Early Years Leadership.</a></li>
  <li>You can pay for an NPQ yourself.</li>
  <li>Your employer can pay.</li>
  <li>You can split the cost with your employer</li>
</ul>

<p>If you do not think you’re eligible for DfE scholarship funding, you should discuss how you’ll pay with your training provider.</p>

<h2 class="govuk-heading-m" id="ofsted-urn">Where do I find my Ofsted URN?</h2>

<p>You can <a href="https://reports.ofsted.gov.uk/childcare" rel="noreferrer noopener" target="_blank" >search the public Ofsted register (opens in a new tab)</a> to find a URN.</p>

<p>If your employer is registered with Ofsted or you're registered with a childminder agency (CMA), you can use their URN.</p>

<p>If you’re a nanny or a childminder you may not be listed on the public Ofsted register. You’ll need to check your email or registration certificate to find your URN.</p>

<p>If you or your employer have not registered with Ofsted then you will not have a URN.</p>

<h2 class="govuk-heading-m" id="qualification">What is a full and relevant qualification?</h2>

<p>‘Full and relevant qualifications’ are defined as level 3 qualifications (or higher) that demonstrate depth and level of learning appropriate to specified outcomes of full early years, childcare or playwork qualifications. The qualification should have valid, reliable assessment and awarding procedures and must include an element of assessed performance evidence.</p>

<h2 class="govuk-heading-m" id="how-register">How do I register for an NPQ?</h2>

<p>Visit the<a href="/start"> Register for an NPQ service.</a> Complete the steps on the service and your chosen provider will get in touch with more details.
</p>


<h2 class="govuk-heading-m" id="support">I need more support</h2>

<p>Contact <a href="mailto:continuing-professional-development@digital.education.gov.uk"> continuing-professional-development@digital.education.gov.uk</a> with any questions</p>



</div>
  </div>
</div>
{% endblock %}
