{% extends "_wizard-form.html" %}
{% set title = "We’ll ask you some questions to check against our records" %}

{% block form %}
<h1 class="govuk-panel__title">We’ll ask you some questions to check against our records</h1>

<p>We’ll ask for your:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>name</li>
  <li>date of birth</li>
  {% if not data.features.trnRequired.on %}<li>teacher reference number (TRN), if you have one</li>{% endif %}
  <li>National Insurance number, if you have one</li>
  {% if data.features.trnRequired.on %}<li>teacher reference number (TRN)</li>{% endif %}
</ul>

<p class="govuk-!-margin-bottom-6">
 
    If you do not have your TRN or National Insurance number available, we may ask some follow-up questions.

    We may also ask some follow-up questions.
 
</p>

{% endblock %}
