{% extends "_wizard-form.html" %}
{% set title = 'You are not eligible for scholarship funding' %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <p>You can still study the ASO course, but you need to pay for it another way.</p>

  <p>The course costs £800.</p>

  {{ govukRadios({
    fieldset: {
      legend: {
        text: 'Do you want to pay for your ASO in another way?',
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        text: "Yes, I will pay another way",
        value: "yes"
      },
      {
        text: "No",
        value: "no"
      }
    ]
  } | decorateFormAttributes(['register', 'aso-pay-another-way']) ) }}
{% endblock %}
