{% extends "_wizard-form.html" %}
{% set title = 'DfE scholarship funding is not available' %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <p>Our records show that you have previously received scholarship funding for <strong>{{ data.register.course }}.</strong>If you have received funding and failed or withdrawn from the course then you will not be eligible for scholarship funding for the same NPQ in the future.</p>

  <p>You can still register for {{ data.register.course }}, but you need to pay for it another way.</p>

  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        If you want to challenge this decision
      </span>
    </summary>
    <div class="govuk-details__text">
      If you do not believe you have started or withdrawn from the course please email <a href="mailto:continuing-professional-development@digital.education.gov.uk">continuing-professional-development@digital.education.gov.uk</a>
    </div>
   
  </details>


{% endblock %}
