{% extends "_wizard-page.html" %}
{% set title = 'You may qualify for Additional Support Offer (ASO) for NPQH funding' %}

{% block page %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <p>The additional support offer is a targeted support package for teachers new to the role of headship.</p>

  <p>It is for new headteachers in their first 2 years of a headship role who have either completed an NPQH or are currently taking an NPQH.</p>

  <p>Your training provider will give you more details.</p>
{% endblock %}
