{% extends "_wizard-page.html" %}
{% set title = 'You cannot register for an ASO course' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" >{{ title }}</h1>
      <p>You do not meet the eligibility criteria for taking an ASO.</p>

      <p>You can only register if you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>have completed an NPQH</li>
        <li>are completing an NPQH</li>
        <li>have already registered to start an NPQH alongside this course</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
