{% extends "_wizard-page.html" %}
{% set title = 'You cannot register for the Additional Support Offer' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" >{{ title }}</h1>
      <p>You do not meet the eligibility criteria for taking the Additional Support Offer.</p>

      <p>You can only register if you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>have completed an NPQH</li>
        <li>are studying for an NPQH</li>
        <li>are about to start an NPQH</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
