{% extends "_wizard-form.html" %}
{% set title = 'How is the Additional Support Offer being paid for?' %}

{% block form %}
  {{ govukRadios({
    fieldset: {
      legend: {
        text: title,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl govuk-!-margin-bottom-6"
      }
    },
    items: [
      {
        text: "My school or college is covering the cost"
      } if isInSchoolSetting,
      {
        text: "My trust is paying"
      } if isInSchoolSetting,
      {
        text: "My employer is paying"
      } if not isInSchoolSetting,
      {
        text: "I am paying"
      },
      {
        text: "The Additional Support Offer is being paid in another way",
        hint: {
          text: "For example, I am sharing the costs with my school or college"
        }
      }
    ]
  } | decorateFormAttributes(['register', 'aso-how-pay']) ) }}
{% endblock %}
