{% extends "_wizard-form.html" %}
{% set title = 'Are you completing, or have you completed an NPQ for Headship (NPQH)?' %}

{% block form %}
  {{ govukRadios({
    fieldset: {
      legend: {
        text: title,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6"
      }
    },
    items: [
      {
        text: "I have completed an NPQH"
      },
      {
        text: "I am still completing an NPQH"
      },
      {
        text: "I have registered to start an NPQH"
      },
      {
        divider: "or"
      },
      {
        text: "None of the above",
        value: "no"
      }
    ]
  } | decorateFormAttributes(['register', 'aso-completed-npqh']) ) }}
{% endblock %}
