{% extends "_wizard-form.html" %}
{% set title = 'Additional Support Offer (ASO)' %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <p><a href="https://www.gov.uk/government/publications/national-professional-qualifications-npqs-reforms/national-professional-qualifications-npqs-reforms#additional-support-offer-for-the-npq-in-headship" target="_blank">Read more about ASO</a></p>

  <h2 class="govuk-heading-m">Who can take this course</h2>
  <p>You can register for this course if you:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>have completed an NPQH</li>
    <li>are completing an NPQH</li>
    <li>have already registered to start an NPQH alongside this course</li>
  </ul>

  <h2 class="govuk-heading-m">Funding this course</h2>
  <p>Your ASO course may be eligible for scholarship funding if you are a headteacher in your first 2 years of headship.</p>
  <p>Alternatively you can pay for an ASO another way.</p>
{% endblock %}
