{% extends "_wizard-form.html" %}
{% set title = 'Early Headship Coaching Offer' %}

{% block form %}


  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <a href="/aso-user/already-funded" class="govuk-link govuk-link--no-visited-state">For prototype reference: If user has already received funding (to go before this page)</a></p> 

  <p>The Early Headship Coaching Offer is a package of structured face-to-face support for new headteachers.</p>

  <h2 class="govuk-heading-m">Who is this for?</h2>
  <p>You can register for the Early Headship Coaching Offer if you:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>have completed an NPQH</li>
    <li>are studying for an NPQH</li>
    <li>are about to start an NPQH</li>
  </ul>

  <h2 class="govuk-heading-m">How is this paid for?</h2>
  <p>You may be eligible for DfE scholarship funding if you’re employed in a state-funded school or a state-funded 16 to 19 educational setting in England upon starting the training.</p>
  <p>Or you can pay the cost of your Early Headship Coaching Offer another way.</p>

  <p class="govuk-!-margin-bottom-6"><a href="https://www.gov.uk/government/publications/national-professional-qualifications-npqs-reforms/national-professional-qualifications-npqs-reforms#additional-support-offer-for-the-npq-in-headship" target="_blank">Read more about the Early Headship Coaching Offer.  </a></p>


{% endblock %}
