{% extends "_wizard-page.html" %}
{% set title = 'Contact support about changing your details' %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ title }}</h1>

      <p>
        Contact our support team so we can help you continue with your registration:<br />
        <a href="#">continuing-professional-development@digital.education.gov.uk</a>
      </p>

      <p>Tell us which details are wrong, and what they need to change to.</p>
    </div>
  </div>
</div>
{% endblock %}
