{% extends "_wizard-page.html" %}
{% set title = 'Check your answers and confirm' %}
{% set isASO = (data.register.course == 'Additional Support Offer (ASO) for NPQH') %}
{% set buttonText = 'Confirm' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block page %}
<h1 class="govuk-heading-xl" >{{ title }}</h1>
{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Are you a teacher or school leader?"
      },
      value: {
        text: data.register['are-you-a-teacher'] | capitaliseFirstLetter
      },
      actions: {
        items: [
          {
            href: "/register/are-you-a-teacher",
            text: "Change",
            visuallyHiddenText: "if you are a teacher"
          }
        ]
      }
    },
    {
      key: {
        text: "Where do you teach?"
      },
      value: {
        text: (data.register['country'] | countryNameFromCode) if data.register['country'] else (data.register['where-do-you-teach'] | capitaliseFirstLetter)
      },
      actions: {
        items: [
          {
            href: "/register/where-do-you-teach",
            text: "Change",
            visuallyHiddenText: "where you are a teacher"
          }
        ]
      }
    } if not (data.register['are-you-a-teacher'] == 'No, I’m not a teacher'),
    {
      key: {
        text: "Full name"
      },
      value: {
        text: data.register.name
      },
      actions: {
        items: [
          {
            href: "/register/personal-details" if (data.features['name-changes'].on or data.features['name-change-guidance'].on) else "/register/your-name",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Teacher reference number (TRN)"
      },
      value: {
        text: data.register.trn
      },
      actions: {
        items: [
          {
            href: "/register/personal-details" if (data.features['name-changes'].on or data.features['name-change-guidance'].on) else "/register/your-trn",
            text: "Change",
            visuallyHiddenText: "TRN"
          }
        ]
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        text: isoDateFromDateInputs(data.register['dob-year'], data.register['dob-month'], data.register['dob-day']) | dateWithYear
      },
      actions: {
        items: [
          {
            href: "/register/personal-details" if (data.features['name-changes'].on or data.features['name-change-guidance'].on) else "/register/your-dob",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "National Insurance number"
      },
      value: {
        text: data.register.nino
      },
      actions: {
        items: [
          {
            href: "/register/personal-details" if (data.features['name-changes'].on or data.features['name-change-guidance'].on) else "/register/your-nino",
            text: "Change",
            visuallyHiddenText: "national insurance number"
          }
        ]
      }
    } if data.register.nino,
    {
      key: {
        text: "Email address"
      },
      value: {
        text: data.register.email
      },
      actions: {
        items: [
          {
            href: "/register/email",
            text: "Change",
            visuallyHiddenText: "email address"
          }
        ]
      }
    },
    {
      key: {
        text: "School or college"
      },
      value: {
        text: data.register.school
      },
      actions: {
        items: [
          {
            href: "/register/where-school",
            text: "Change",
            visuallyHiddenText: "school or college"
          }
        ]
      }
    } if isEnglandTeacher,
    {
      key: {
        text: "Course"
      },
      value: {
        text: data.register.course
      },
      actions: {
        items: [
          {
            href: "/register/choose-npq",
            text: "Change",
            visuallyHiddenText: " course"
          }
        ]
      }
    },
    {
      key: {
        text: "Have you completed an NPQH?"
      },
      value: {
        text: data.register['aso-completed-npqh']
      },
      actions: {
        items: [
          {
            href: "/register/aso-completed-npqh",
            text: "Change",
            visuallyHiddenText: " if you have completed an NPQH"
          }
        ]
      }
    } if isASO,
    {
      key: {
        text: "Are you a headteacher?"
      },
      value: {
        text: data.register['aso-headteacher'] | capitaliseFirstLetter
      },
      actions: {
        items: [
          {
            href: "/register/aso",
            text: "Change",
            visuallyHiddenText: " if you are a headteacher"
          }
        ]
      }
    } if isASO,
    {
      key: {
        text: "Are you in your first 2 years of a headship?"
      },
      value: {
        text: data.register['aso-early-headship'] | capitaliseFirstLetter
      },
      actions: {
        items: [
          {
            href: "/register/aso-early-headship",
            text: "Change",
            visuallyHiddenText: " if you are in your first 2 years of a headship"
          }
        ]
      }
    } if isASO and data.register['aso-headteacher'] == 'yes',
    {
      key: {
        text: "How is your ASO being paid for?"
      },
      value: {
        text: data.register['aso-how-pay'] | capitaliseFirstLetter
      },
      actions: {
        items: [
          {
            href: "/register/aso-how-pay",
            text: "Change",
            visuallyHiddenText: " how your ASO is being paid for"
          }
        ]
      }
    } if isASO and (data.register['aso-headteacher'] == 'no' or data.register['aso-early-headship'] == 'no'),
    {
      key: {
        text: "Lead provider"
      },
      value: {
        text: data.register.provider
      },
      actions: {
        items: [
          {
            href: "/register/choose-provider",
            text: "Change",
            visuallyHiddenText: " lead provider"
          }
        ]
      }
    },
    {
      key: {
        text: "Funding"
      },
      value: {
        text: data.register.funding
      },
      actions: {
        items: [
          {
            href: "/register/funding",
            text: "Change",
            visuallyHiddenText: " funding"
          }
        ]
      }
    } if not isEnglandTeacher
  ]
}) }}
{% endblock %}
