{% extends "_wizard-page.html" %}
{% set title = 'Choose an NPQ and provider' %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" >{{ title }}</h1>

      <p>Speak to your employer for help choosing an NPQ and training provider.</p>

      <p>Visit <a href="https://professional-development-for-teachers-leaders.education.gov.uk/">Professional development for teachers and leaders</a> to see what NPQs are available.</p>

      

<p>Your employer may have recommended provider for your training.</p>

      <p>The following providers offer NPQs:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="../ambition">Ambition Institute</a></li>
        <li><a href="https://www.outstandingleaders.org/npq">Best Practice Network (home of Outstanding Leaders Partnership)   </a></li>
        <li><a href="https://www.cefel.org.uk/npq/">Church of England</a></li>
        <li><a href="https://www.educationdevelopmenttrust.com/npqs">Education Development Trust</a></li>
        <li><a href="http://www.llse.org.uk/">LLSE</a></li>
        <li><a href="https://niot.org.uk/">National Institute of Teaching</a></li>
        <li><a href="https://www.school-led.org.uk/">School-Led Network </a></li>
        <li><a href="https://tdtrust.org/npqs/">Teacher Development Trust</a></li>
        <li><a href="http://www.teachfirst.org.uk/npqs">Teach First</a></li>
        <li><a href="https://www.ucl.ac.uk/ioe/departments-and-centres/centres/ucl-centre-educational-leadership/national-professional-qualification-programmes">UCL Institute of Education</a></li>
      </ul>

      <p>Not every provider will necessarily offer every NPQ.</p>
    </div>
  </div>
</div>
{% endblock %}
