{% extends "_wizard-form.html" %}
{% set title = 'What are you applying for?' %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  {% set html %}
    <p>If you’re applying to start an NPQ for Headship (NPQH), you might also be applying for the Early Headship Coaching Offer, a package of structured face-to-face support for new headteachers.</p>
    <p>To register for both you should:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>complete your registration for an NPQH using this service</li>
      <li>complete a separate registration for the Early Headship Coaching Offer, also using this service</li>
    </ul>
  {% endset %}

  {{ govukDetails({
    summaryText: "Help with NPQH and the Early Headship Coaching Offer",
    html: html
  }) }}

  {{ govukRadios({
    fieldset: {
      legend: {
        isPageHeading: false,
        text: title,
        classes: "govuk-visually-hidden"
      }
    },
    items: [
      {
        text: "NPQ Leading Behaviour and Culture (NPQLBC)"
      },
      {
        text: "NPQ Leading Literacy (NPQLL)"
      },
      {
        text: "NPQ Leading Teaching (NPQLT)"
      },
      {
        text: "NPQ Leading Teacher Development (NPQLTD)"
      },
      {
        text: "NPQ for Senior Leadership (NPQSL)"
      },
      {
        text: "NPQ for Headship (NPQH)"
      },
      {
        text: "NPQ for Executive Leadership (NPQEL)"
      },
      {
        text: "NPQ Early Years Leadership (NPQEYL)"
      },
      {
        text: "The Early Headship Coaching Offer",
        hint: {
          text: "The Early Headship Coaching Offer is a package of structured face-to-face support for new headteachers. "
        }
      } 
    ]
  } | decorateFormAttributes(['register', 'course']) ) }}
{% endblock %}