{% extends "_wizard-page.html" %}
{% set title = 'Initial registration complete' %}
{% set isNPQH = (data.register.course == 'NPQ for Headship (NPQH)') %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block pageNavigation %}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: title,
      classes: 'govuk-!-margin-bottom-6'
    }) }}

    <h2 class="govuk-heading-m">
      What happens next
    </h2>

    <p>{{ data.register.provider }} will contact you to complete your registration.</p>

    <p>They will provide details of timings, costs and deadlines for your course.</p>

    {% if isNPQH %}
      <h2 class="govuk-heading-m">Additional Support Offer (ASO) for NPQH</h2>

      <p>You may be eligible for additional support if you are completing or have completed an NPQH and are in your first 2 years of headship.</p>

      <p>If eligible, your training provider will share further details with you.</p>

      <p>
        <a href="/register/aso-from-npqh">Register for the Additional Support Offer (ASO) for NPQH</a>
      </p>
    {% endif %}
  </div>
</div>
{% endblock %}
