{% extends "_wizard-page.html" %}
{% set title = 'Initial registration complete' %}
{% set isNPQH = (data.register.course == 'NPQ for Headship (NPQH)') %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block pageNavigation %}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: title,
      classes: 'govuk-!-margin-bottom-6'
    }) }}

    <h2 class="govuk-heading-m">
      What happens next
    </h2>

    <p>{{ data.register.provider }} will contact you to complete your registration.</p>

    <p>They will provide details of timings, costs and deadlines.</p>

    {% if isNPQH and isEnglandTeacher %}
      <h2 class="govuk-heading-m">Additional Support Offer for new headteachers</h2>

      <p>The Additional Support Offer is a targeted support package for new headteachers.</p>

      <p>You may be eligible for DfE scholarship funding if you are in the first two years of a headship and:

      <ul class="govuk-list govuk-list--bullet">
        <li>have completed an NPQH</li>
        <li>are studying for an NPQH</li>
        <li>are about to start an NPQH</li>
      </ul>

      {% if data.features['aso-loop'] %}
        <p>
          <a href="/register/aso-from-npqh">Register for the Additional Support Offer (ASO) for NPQH</a>
        </p>
      {% else %}
        <p>If eligible, your training provider will share further details with you.</p>
        <p class="govuk-!-margin-bottom-6"><a href="https://www.gov.uk/government/publications/national-professional-qualifications-npqs-reforms/national-professional-qualifications-npqs-reforms#additional-support-offer-for-the-npq-in-headship" target="_blank">Read more about the Additional Support Offer for new headteachers</a></p>
      {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}
