{% extends "_wizard-form.html" %}
{% set title = 'You may qualify for DfE scholarship funding' if isInSchoolSetting else 'Tell us more about where you work' %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title | noOrphans | safe }}</h1>

  {% if isInSchoolSetting %}
    <p>DfE scholarship funding may be available for the {{ data.register.course }} course you have selected.</p>
    <p>Your training provider will give you more details and confirm if you qualify for funding.</p>
  {% else %}
    {{ govukInput({
      label: {
        text: "Name of employer",
        classes: "govuk-label--m"
      }
    } | decorateFormAttributes(['register', 'employer']) ) }}

    {{ govukInput({
      label: {
        text: "Role",
        classes: "govuk-label--m"
      },
      hint: {
        text: 'For example: Teacher, headteacher, teaching assistant'
      }
    } | decorateFormAttributes(['register', 'role']) ) }}

    {{ govukInput({
      label: {
        text: "Type of educational setting",
        classes: "govuk-label--m"
      },
      hint: {
        text: 'For example: Local authority, alternative provision, youth offending institution'
      }
    } | decorateFormAttributes(['register', 'educational-setting']) ) }}
  {% endif %}
{% endblock %}
