{% extends "_wizard-form.html" %}
{% set title = 'How is your course being paid for?' %}

{% block form %}
  {% if showNotEligibleForScholarship %}
    <h1 class="govuk-heading-xl">{{ title }}</h1>
    <p>Your school or college is not eligible for NPQ government scholarship funding.</p>
  {% endif %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: legend,
        isPageTitle: not showNotEligibleForScholarship,
        classes: "govuk-fieldset__legend--s" if showNotEligibleForScholarship else "govuk-fieldset__legend--xl govuk-!-margin-bottom-6"
      }
    },
    items: [
      {
        text: "My school or college is paying"
      } if isInSchoolSetting,
      {
        text: "My trust is paying"
      } if isInSchoolAndIsInEngland,
      {
        text: "My employer is paying"
      } if not isInSchoolSetting,
      {
        text: "I am paying"
      },
      {
        text: "My NPQ is being paid in another way",
        hint: {
          text: "For example, I am sharing the costs with my school or college"
        }
      }
    ]
  } | decorateFormAttributes(['register', 'funding']) ) }}
{% endblock %}
