{% extends "_wizard-form.html" %}
{% set legend = 'How is your ' + (data.register.npq or 'course') + ' being paid for?' %}
{% set title = 'Funding' if isEnglandTeacher else legend %}

{% block form %}
  {% if isEnglandTeacher %}
    <h1 class="govuk-heading-xl">{{ title }}</h1>
    <p>Your school or college is not eligible for NPQ government scholarship funding.</p>
  {% endif %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: legend,
        isPageTitle: not isEnglandTeacher,
        classes: "govuk-fieldset__legend--s" if isEnglandTeacher else "govuk-fieldset__legend--xl govuk-!-margin-bottom-6"
      }
    },
    items: [
      {
        text: "My school or college is paying"
      },
      {
        text: "My trust is paying"
      } if isEnglandTeacher,
      {
        text: "My employer is paying"
      } if not isEnglandTeacher,
      {
        text: "I am paying"
      },
      {
        text: "My NPQ is being paid in another way",
        hint: {
          text: "For example, I am sharing the costs with my school or college"
        }
      }
    ]
  } | decorateFormAttributes(['register', 'funding']) ) }}
{% endblock %}
