{% extends "_wizard-form.html" %}
{% set title = 'You should qualify for DfE scholarship funding' %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title | noOrphans | safe }}</h1>
  <p>From the information you have provided, DfE scholarship funding should be available for the course you have selected.</p>
  <p>Once we have checked that you qualify for funding, your training provider will be in touch to give you more details.</p>
  <p>You’ll only be eligible for DfE funding for each NPQ once. If you start an NPQ, and then withdraw or fail, you will not be funded again for the same course. </p>
<p>You’ll still be eligible for funding for different NPQs if you meet the eligibility criteria. You’ll also be eligible for scholarship funding for the new reformed suite of NPQs if you received funding for a legacy NPQ (prior to November 2021).</p>
{% endblock %}
