{% extends "_wizard-form.html" %}
{% set title = 'Name changes' %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <p>Your name must match the name held in the Teaching Regulation Agency records to confirm you can take an NPQ.</p>

  <p>If it does not match, you cannot continue with an NPQ.</p>

  {{ govukRadios({
    fieldset: {
      legend: {
        text: 'Has your name changed since you first registered as a teacher?',
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        text: "Yes, I have changed my name",
        value: "yes"
      },
      {
        text: "No, I have the same name",
        value: "no"
      }
    ]
  } | decorateFormAttributes(['register', 'name-changed']) ) }}
{% endblock %}
