{% extends "_wizard-form.html" %}
{% set title = 'Has your name changed since you first registered as a teacher?' if isEnglandTeacher else 'Has your name changed since you registered with the Teacher Regulation Agency?' %}

{% block form %}
  <h1 class="govuk-heading-l">{{ title }}</h1>

  <p>Your name must match the name held in the Teaching Regulation Agency records to confirm you can take an NPQ.</p>

  {{ govukRadios({
    items: [
      {
        text: "Yes, I have changed my name",
        value: "yes"
      },
      {
        text: "No, I have the same name",
        value: "no"
      }
    ]
  } | decorateFormAttributes(['register', 'name-changed']) ) }}
{% endblock %}
