{% extends "_wizard-form.html" %}
{% set useFullName = data.features.fullName.on %}
{% set title = "What’s your name?" %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <h2 class="govuk-heading-m">Use the name on your official documents</h2>
  <p>
    You should tell us the name that appears on your passport, driving licence or marriage certificate, if you have one.
    We’ll try to match it against our records.
  </p>

  <p>If the names on your documents are different, give us the most recent one.</p>

  <h2 class="govuk-heading-m">Your name</h2>
  <p>The name you give will be shown on official documents and certificates.</p>

  {% if useFullName %}
    {{ govukInput({
      label: {
        text: "Full name",
        classes: "govuk-label--s"
      },
      decorate: 'full-name'
    }) }}
  {% else %}
    {{ govukInput({
      label: {
        text: "First name",
        classes: "govuk-label--s"
      },
      decorate: 'first-name'
    }) }}

    {{ govukInput({
      label: {
        text: "Last name",
        classes: "govuk-label--s"
      },
       decorate: (['register', 'last-name'])
    }) }}
  {% endif %}
{% set previousNameHtml %}
  <h2 class="govuk-heading-m govuk-!-margin-top-4">What was your previous name?</h2>
  <p>You don’t have to tell us your previous name, but it will help us identify you.</p>
  <p>If we cannot match your current name against our records, we’ll try to match your previous name.</p>
  <p>If you changed your name more than once, tell us your most recent previous name.</p>
  {% if useFullName %}
    {{ govukInput({
      label: {
        text: "Previous name"
      },
      decorate: 'previous-name'
    }) }}
  {% else %}
    {{ govukInput({
      label: {
        text: "Previous first name (optional)",
        classes: "govuk-label--s"
      },
      decorate: 'previous-first-name'
    }) }}

    {{ govukInput({
      label: {
        text: "Previous last name (optional)",
        classes: "govuk-label--s"
      },
      decorate: 'previous-last-name'
    }) }}
  {% endif %}
{% endset %}

{{ govukRadios({
  fieldset: {
    legend: {
      classes: "govuk-fieldset__legend--m",
      text: "Have you ever changed your name?"
    }
  },
  items: [
    {
      value: "no",
      text: "No, I haven’t changed my name"
    },
    {
      value: "changed-name",
      text: "Yes, I changed my name",
      conditional: {
        html: previousNameHtml
      }
    },
    {
      text: "Prefer not to say"
    }
  ],
  decorate: 'changed-name'
}) }}


{% endblock %}
