{% extends "_wizard-page.html" %}
{% set title = 'We already have some of your details' %}
{% set buttonText = 'Continue' %}

{% block page %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  {% set hideCourse = true %}
  {% set redact = true %}
  {% include 'includes/_check.html' %}

  <p>You can use these details again to register for another course.</p>

  <p class="govuk-!-margin-bottom-6">
    If you need to change any of your registration details contact us at:<br />
    <a href="#">continuing-professional-development@digital.education.gov.uk</a>
  </p>
{% endblock %}
