{% extends "_wizard-form.html" %}
{% set title = 'Do you work in a school, college or academy trust?' %}

{% block form %}

  {{ govukRadios({
    classes: "govuk-radios--inline",
    fieldset: {
      legend: {
        text: title,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl govuk-!-margin-bottom-5"
      }
    },
    items: [
        { text: "Yes", value: "Yes" },
        { text: "No", value: "No" }
    ]
  } | decorateFormAttributes(['register', 'work-in-school-college-academy']) ) }}
{% endblock %}
