{% extends "_wizard-form.html" %}
{% set title = 'You need a teacher reference number (TRN)'%}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>


<p>If you do not have a TRN you can request one now. You do not need to be a teacher to request one.</p>
  
<p>You may not have one yet if you work in early years, further education or qualified as a teacher outside England.</p>
<p><a href="https://find-a-lost-trn.education.gov.uk/start" rel="noreferrer noopener" >Check if you have a TRN</a>.</p>

    {{ govukRadios({

      idPrefix: "do-you-have-trn",
          name: "do-you-have-trn",
          fieldset: {
            legend: {
              text: "Do you have a TRN?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
     
      items: [
        {
          text: "Yes",
          value: "yes"
        },
        
        {
          text: "No, I’ll request one",
          value: "no-trn"
        }
      ]
    } | decorateFormAttributes(['register', 'know-trn']) ) }}

{% endblock %}
