{% extends "_wizard-form.html" %}
{% set title = 'You need your teacher reference number to register for an NPQ'%}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>


<p>Your teacher reference number (TRN) is used to check you’re eligible to study for an NPQ.</p>
  
<p>You can use the <a href="https://find-a-lost-trn.education.gov.uk/start" rel="noreferrer noopener" target="_blank" >Find a lost TRN service (opens in a new tab)</a> if you do not know your TRN, or want to check if you have one.</p>

<p>You may not have a TRN if you are working in early years, further education or qualified as a teacher outside England.</p>
  




    {{ govukRadios({

      idPrefix: "do-you-have-trn",
          name: "do-you-have-trn",
          fieldset: {
            legend: {
              text: "Do you have a TRN?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
     
      items: [
        {
          text: "Yes",
          value: "yes"
        },
        
        {
          text: "No, I need help getting one",
          value: "no-trn"
        }
      ]
    } | decorateFormAttributes(['register', 'know-trn']) ) }}

{% endblock %}
