{% extends "_wizard-form.html" %}
{% set title = 'Teacher reference number' %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <p>Your teacher reference number (TRN) is used to check you're eligible to study for a national professional qualification (NPQ).</p>

  <p>If you don’t know what your TRN is, this can usually be found on your payslip, teachers’ pension documentation or teacher training records.</p>

  <p>The TRN has previously been known as a QTS, GTC, DfE, DfES or DCSF number.</p>

  <p>You may not have a TRN if you are working in further education or qualified outside England or overseas.</p>

  {{ govukRadios({
    fieldset: {
      legend: {
        text: 'Do you know your teacher reference number (TRN)?',
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        text: "Yes, I know my TRN",
        value: "yes"
      },
      {
        text: "No, I do not know my TRN",
        value: "dont-know"
      },
      {
        text: "I do not have a TRN",
        value: "no-trn"
      }
    ]
  } | decorateFormAttributes(['register', 'know-trn']) ) }}
{% endblock %}
