{% extends "_wizard-form.html" %}
{% set title = 'Updating your name' %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <p>If your name has not been updated and does not match the Teaching Regulation Agency records, you have three options:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>use your previous name to register with the service</li>
    <li>use your previous name to register, and then change it on the Teaching Regulation Agency records at a later date</li>
    <li>change your name on the Teaching Regulation Agency records first and then return to register for an NPQ</li>
  </ul>

  {{ govukRadios({
    fieldset: {
      legend: {
        text: 'I want to',
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        text: "Change my name on the Teaching Regulation Agency records",
        value: "yes"
      },
      {
        text: "Register with my previous name",
        value: "no"
      }
    ]
  } | decorateFormAttributes(['register', 'updating-name-now']) ) }}
{% endblock %}
