{% extends "_wizard-form.html" %}
{% set title = 'Where is your workplace located?' %}

{% block form %}

{% if data.register['what-setting'] != "Early years or childcare" %}

    <h1 class="govuk-heading-xl">{{ title }}</h1>

 
{% else %}

   <h1 class="govuk-heading-xl">Where is your nursery located?</h1>

{% endif %}

  {{ govukInput({
  
    hint: {
      text: "Enter the town, city or the first part of the postcode. For example Chester or CH1."
    }
  } | decorateFormAttributes(['register', 'school-location']) ) }}


 

{% endblock %}
