{% extends "_wizard-form.html" %}
{% set title = 'Choose your school, academy trust or 16 to 19 organisation' %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <p>Choose from schools, trusts or 16 to 19 organisations located in {{ data['register']['school-location'] }}</p>

  {{ govukInput({
    label: {
      text: "Enter your school, trust or 16 to 19 organisation name",
      classes: "govuk-label--s"
    }
  } | decorateFormAttributes(['register', 'school']) ) }}
{% endblock %}
