{% extends "_wizard-form.html" %}
{% set title = 'What setting do you work in?' %}

{% block form %}
  {{ govukRadios({
    fieldset: {
      legend: {
        text: title,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl govuk-!-margin-bottom-6"
      }
    },
    items: [
      {
        text: "Early years or childcare"
      },
      {
        text: "A school"
      },
      {
        text: "An academy trust"
      },
      {
        text: "A 16 to 19 educational setting"
      },
      {
        divider: "or"
      },

      {

        text: "Other",

        hint: {
          text: "For example a local authority, initial teacher training (ITT) provider, hospital school or young offender institution"
        }
      }
    ]
  } | decorateFormAttributes(['register', 'work-in-school-two']) ) }}
{% endblock %}
