{% extends "layout.html" %}
{% set title = 'Register for an NPQ prototype' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      {{ govukButton({
        text: 'View prototype',
        href: '/start'
      }) }}

      <p><a href="/before/start">Before March 11th</a></p>
      <p><a href="/after/start">After March 11th</a></p>
    </div>
  </div>


{% endblock %}
