{% extends "layout.html" %}
{% set title = 'Register for an NPQ prototype' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      {{ govukButton({
        text: 'View prototype',
        href: '/start',
        classes: 'govuk-!-margin-bottom-9'
      }) }}

      <h2 class="govuk-heading-m">Users registering again</h2>

      <p>To follow the journey of an existing user, use existing@example.com when asked for your email address.</p>
    </div>
  </div>
{% endblock %}
