{% extends "layout.html" %}
{% set title = 'Register for a national professional qualification (NPQ) ' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      {% if data.features['registration-closed'].on %}

        <h2 class="govuk-heading-m">Registration for NPQs has closed temporarily</h2>

        <p><a href="/notification/sign-up">Sign up for an email</a> to be notified when registration reopens.</p>

        <h2 class="govuk-heading-m">When registration reopens</h2>

        <p>You will be able to use this service to register:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>to study for an NPQ</li>
          <li>for the Early Headship Coaching Offer</li>
        </ul>

        <p>For more information you can read guidance on the <a href="https://www.gov.uk/government/publications/national-professional-qualifications-npqs-reforms/national-professional-qualifications-npqs-reforms">NPQ reforms.</a></p>


        {% elseif data.features['registration-soft-close'].on %}

        <p>You will be able to use this service to register:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>to study for an NPQ</li>
          <li>for the Early Headship Coaching Offer</li>
        </ul>

        <h2 class="govuk-heading-m">Before you start</h2>
        <p>You must:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>have your teacher reference number (TRN)</li>
          <li>have your funding source confirmed – either a scholarship, school, college or personal funding</li>
          <li>know which NPQ course you want to study</li>
          <li>have chosen a provider</li>
        </ul>

        {{ govukButton({
          text: 'Start now',
          href: '/soft-close/chosen',
          isStartButton: true,
          classes: 'govuk-!-margin-top-4'
        }) }}

        {% elseif data.features['npq-accounts'].on %}

      {% else %}
      <p>Use this service to register for an NPQ or the early headship coaching offer.</p>

      <p>You also need to apply separately with your training provider. They’ll contact you once you’ve registered.</p>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p><a href="/start/choose-an-npq-and-provider">Choose an NPQ and provider</a>.</p>

      <p>If you work in early years or childcare, <a href="https://reports.ofsted.gov.uk/childcare">check if your workplace is registered with Ofsted</a> and get their Ofsted unique reference number (URN) if they have one.</p>

      <p><a href="https://find-a-lost-trn.education.gov.uk/start">Check if you have a teacher reference number (TRN)</a>. If you’re not a teacher you can still register, but you’ll need to request a TRN. We’ll show you how to do this.</p>

        {{ govukButton({
          text: 'Start now',
          href: '/register/chosen',
          isStartButton: true,
          classes: 'govuk-!-margin-top-4'
        }) }}
      {% endif %}
    </div>
  </div>

{% endblock %}
