{% extends "_wizard-form.html" %}
{% set title = 'DfE scholarship funding is not available' %}
{% set action = '/school-nonfund/funding-not-available' %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <p>Our records show that you are already registered to study <strong>{{ data.register.course }}</strong> with <strong>[Provider X]</strong></p>

  <ul class="govuk-list govuk-list--bullet">
    <li>You can only receive scholarship funding to study this NPQ with one provider. If you do not wish to proceed with [Provider] you will need to contact them.</li>
    <li>If you’ve previously failed or withdrawn from this course, then you’re not eligible for scholarship funding. If you do not believe you’ve failed or withdrawn from this course please email <a href="mailto:continuing-professional-development@digital.education.gov.uk">continuing-professional-development@digital.education.gov.uk</a> </li>
  </ul>

  <p>You can still register for the NPQ for Early Years Leadership§ but you’ll need to pay for it another way. Contact your course provider to discuss your funding options.</p>


{% endblock %}
