{% extends "_wizard-page.html" %}
{% set title = 'DfE scholarship funding is not available' %}

{% block page %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <p>To be eligible for scholarship funding for the <strong>NPQ Early Years Leadership</strong> you must:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>Work in England</li>
    <li>Be registered with Ofsted on the Early Years Register or the Childcare Register, or be registered with a Childminder Agency (CMA)</li>
  </ul>
  
  <p>You can still register for NPQ Early Years Leadership but you need to pay for it another way. Contact your course provider to discuss your funding options. </p>


{% endblock %}
