{% extends "_wizard-page.html" %}
{% set title = 'DfE scholarship funding is not available' %}
{% set action = '/eyll-nonfund/how-pay.html' %}

{% block page %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <p>To be eligible for scholarship funding for the NPQ Early Years Leadership you must:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>Work in England, Jersey, Guernsey or the Isle of Man</li>
    <li>Be registered on the Ofsted childcare and early education register or be registered with a Childminder Agency (CMA)</li>
  </ul>
  
  <p>You can still register for NPQ Early Years Leadership but you need to pay for it another way. To find out more about your  funding options please contact your course provider. </p>


{% endblock %}
