{% extends "_wizard-page.html" %}
{% set title = 'DfE scholarship funding is not available' %}
{% set action = '/eyll-nonfund/how-pay.html' %}

{% block page %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <p>To be eligible for scholarship funding for the NPQ Early Years Leadership you must:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>Work in England</li>
    <li>Be registered on the Ofsted childcare and early education register or be registered with a Childminder Agency (CMA)</li>
  </ul>
  
  <p>You can still register for NPQ Early Years Leadership but you need to pay for it another way. Contact your course provider to discuss your funding options. </p>


{% endblock %}
