{% extends "_wizard-form.html" %}
{% set title = 'Have you already chosen an NPQ and provider?' %}
{% set paths = { back: '/start' } %}
{% set action = '/register/email-confirmation' %}

{% block form %}
  {{ govukRadios({
    fieldset: {
      legend: {
        text: title,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    items: [
      {
        text: "Yes, I have chosen my NPQ and provider",
        value: "yes"
      },
      {
        text: "No, I do not know my NPQ or provider",
        value: "no"
      }
    ]
  } | decorateFormAttributes(['accounts', 'chosen']) ) }}
{% endblock %}
