{% extends "_wizard-form.html" %}
{% set title = 'Confirm your code' %}

{% block form %}

{% set html %}
  <p class="govuk-notification-banner__heading">
    You have 7 days left to send your application.
    <a class="govuk-notification-banner__link" href="#">View application</a>.
  </p>
{% endset %}

{{ govukNotificationBanner({
  html: html
}) }}


  <h1 class="govuk-heading-xl">{{ title }}</h1>

  {{ govukInput({
    label: {
      text: "Enter your code",
      classes: "govuk-label--s"
    },
    classes: 'govuk-!-width-one-quarter'
  } | decorateFormAttributes(['accounts', 'email-code']) ) }}

  <p>
    <a href="#">I have not recieved an email</a>
  </p>
{% endblock %}
